@use "@/styles/vars";

$link-color: vars.$on-primary-link-text-color;
$link-hover-color: vars.$on-primary-link-hover-text-color;

.dropdown-menu {
  background: vars.$primary-color;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s, visibility 0s linear 0.2s;
  visibility: hidden;
  will-change: transform;
  
  @media only screen and (min-width: 1024px) {
    border-top: 1px solid vars.$primary-accents-color;
    clip: auto;
    left: 0;
    margin: 1.5rem auto auto;
    overflow: auto;
    position: absolute;
    right: 0;
    width: -moz-max-content;
    width: max-content;
    z-index: 2;
  }

  &--visible {
    // height: auto;
    opacity: 1;
    padding: 0.8rem 1rem;
    transform: translateY(0);
    transition: transform 0.2s, opacity 0.2s, visibility linear;
    visibility: visible;
    @media only screen and (min-width: 1024px) {
      transform: translateY(0.25rem);
      // height: initial;
    }
  }

  a {
    display: block;
    font-size: 1rem;
    margin: 1rem auto;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}
