@use '../styles/vars';

.section {
    padding: 0 1.25rem;
    &__wrapper {
        margin: 0 auto;
        padding: 5rem 0 8.75rem;
        position: relative;
        @media only screen and (min-width: vars.$desktop-size) {
            max-width: vars.$page-wrapper-max-size;
            padding: 8.5rem 0;
        }
    }

    &__readMoreBtn {
        bottom: 5rem;
        left: 0;
        position: absolute;
        @media only screen and (min-width: vars.$desktop-size) {
            bottom: auto;
            left: auto;
            right: 0;
            top: 7.375rem;
        }

        &>a{
            padding-right: 0;
        }
    }

    &__blogCards {
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-button-prev {
        left: 50px;
    }
}


