@use "@/styles/vars";

.footerNav{
    padding: 4rem 0;
    width: 100%;

    @media only screen and (min-width: 1024px) {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: vars.$white-color;
        &:focus,
        &:hover {
            color: vars.$secondary-color;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    &__columns{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        @media only screen and (min-width: 1024px) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__column-title {
        color: vars.$secondary-color;
        font-family: vars.$sans-serif-bold-font;
        margin: 1.25rem 0;
        @media only screen and (min-width: 1024px) {
            margin: 0;
        }
        
        & > a {
            font-family: inherit;
            color: inherit;
            span {
                font-family: inherit;
                vertical-align: baseline;
            }
            &:focus,
            &:hover {
                color: vars.$white-color;
            }
        }
        @media only screen and (min-width: 1024px) {
            margin: 0 1.25rem;
        }
    }

    &__menu {
        margin-top: 1.25rem;
    }

    &__menu-item {
        margin: 1.25rem 0;
    }
}