
@use "@/styles/vars";

.footer{
    border-top: 6px solid vars.$secondary-color;
    background-color: vars.$primary-color;
    padding: 1.25rem;

    &__container {
        margin: 0 auto;
        padding: 4rem 0 0;
        position: relative;
        @media only screen and (min-width: vars.$desktop-size) {
            max-width: vars.$page-wrapper-max-size;
            padding: 5rem 0 0;
        }
    }
    
    &__logo {
        max-width: 192px;
        text-align: center;
        margin: 0 auto 5rem;
    }

    &__navbar,
    &__links,
    &__infobar {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__navbar {
        align-items: flex-start;
        @media only screen and (min-width: 1024px) {
            padding-bottom: 7em;
        }
    }

    &__links {
        border-top: 1px solid rgba(vars.$secondary-color, 0.3);
        border-bottom: 1px solid rgba(vars.$secondary-color, 0.3);
        padding: 1.25rem 0;
        @media only screen and (min-width: 1024px) {

        }
        a {
            &:focus,
            &:hover {
                color: vars.$white-color;
            }
        }
    }

    &__infobar {
        color: rgba(vars.$secondary-color, 0.5);
        padding: 1.25rem 0 0;
        a {
            color: inherit;
            font-family: 'Metropolis-Bold', Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-decoration: none;
            &:focus,
            &:hover {
                color: vars.$white-color;
            }
        }
    }

    &__copyrights{
        margin: 0;
    }
}
