
@use "@/styles/vars";

.footer{
    border-top: 6px solid vars.$primary-accents-color;
    background-color: vars.$primary-bg-color;
    
    &__logo {
        text-align: center;
        padding: 5em 0;
    }

    &__navbar,
    &__links,
    &__infobar {
        display: flex;
        justify-content: space-between;
    }

    &__navbar {
        padding-bottom: 7em;
    }
}