@use "../../styles/vars";

.contact-info {
    font-style: normal;
    p {
        margin: 1em 0;
        
        position: relative;
    }
    a {
        text-decoration: none;
        color: vars.$on-primary-text-color;
        &:focus,
        &:hover {
            color: vars.$on-primary-link-text-color;
            text-decoration: underline;
        }
    }
    &__title {
        color: vars.$on-secondary-link-text-color;
        font-family: 'Metropolis-Bold', Arial, Helvetica, sans-serif;
        
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 3px;
    }
    &__address,
    &__phoneno,
    &__email {
        padding-left: 1.5em;
    }
}