@use "@/styles/vars";

$font-family-name: vars.$sans-serif-bold-font;

.contact-info {
    font-style: normal;
    p {
        margin: 1em 0;
        
        position: relative;
    }
    a {
        text-decoration: none;
        color: vars.$white-color;
        &:focus,
        &:hover {
            color: vars.$secondary-color;
        }
    }
    &__title {
        color: vars.$secondary-color;
        font-family: $font-family-name;
        
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 3px;
    }
    &__address,
    &__phoneno,
    &__email {
        padding-left: 1.5em;
    }
}