@use '../styles/vars';

.button {
    color: vars.$primary-color;
    font-family: vars.$sans-serif-medium-font;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    

    &--primary{
        border: 20px solid vars.$secondary-color;
        border-image: 1 url('data:image/svg+xml, \
        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" fill="%233ecfeb">\
        <polygon points="0,0 0,0 2,0 3,0 3,2 2,3 1,3 0,3" />\
        </svg>');
        background: vars.$secondary-color;
        background-clip: padding-box;
    }

    &--secondary-light,
    &--secondary-dark {
        padding: 1.125rem 1.125rem 1.125rem 0;
    }
    
    &--secondary-light {
        color: inherit;
    }
    &--secondary-dark {
        color: vars.$secondary-color;
        &.button:focus, 
        &.button:hover {
            color: vars.$white-color;
        }
    }

    &__content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__caption {
        text-transform: uppercase;
        font-size: 1.125rem;
        letter-spacing: 0.0675rem;
    }

    &__icon {
        margin-left: 2rem;
        font-size: 1.5rem;
        display: flex;
        position: relative;
        left: -5px;
    }

    &:hover {
        color: vars.$primary-color;
        cursor: pointer;
        font-family: vars.$sans-serif-semi-bold-font;

        .button__caption {
            letter-spacing: 0.06rem;
        }

        .button__icon {
            left: 0px;
        }
    }
}

