.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__menubar {
        align-items: center;
        display: flex;

        @media only screen and (max-width: 1023px) {
            display: none;
        }
    }

    
}