@use "@/styles/vars";

.sm-list {
    align-items: center;
    border-bottom: 1px solid vars.$secondary-color;
    border-top: 1px solid vars.$secondary-color;
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1.25rem;
    position: relative;
    
    li {
        margin: 0 0.5em;
        line-height: 1;

        a {
            align-items: center;
            display: flex;
        }
    }

    @media only screen and (min-width: vars.$desktop-size) {
        border: 0;
        &::before,
        &::after {
            content: "";
            width: 1px;
            height: 100%;
            background-color: vars.$secondary-color;
            position: absolute;
            top: 0;
        }
        &::before { left: 0; }
        &::after { right: 0; }
        padding: 0 1rem;
    }
}

