.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

.element {
    align-items: center;
    display: flex;
    margin: 0 0.25em;
    span{
        vertical-align: middle;
    }
    &__link {
        font-weight: bold;
        margin: 0 0.25em;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}