@use "../styles/vars";

.item {
    border: 1px solid vars.$secondary-color;
    border-radius: 20px;
    margin: 1.875rem 0;
    padding: 2.5rem 1.875rem;

    @media only screen and (min-width: vars.$desktop-size) {
        position: relative;
        padding: 3.125rem 5rem 3.125rem 11rem;
    }

    &__icon {
        margin: 1.25rem 0 3.75rem;
        text-align: center;

        @media only screen and (min-width: vars.$desktop-size) {
            position: absolute;
            left: 3.125rem;
            top: 2.2rem;
        }
    }
}