@use "@/styles/vars";

$active-item-border-color: vars.$on-primary-link-text-color;
$active-item-bg-color: rgba(vars.$on-primary-link-text-color, 0.1);

.locale-switch {
    list-style: none;
    margin: 0;
    padding: 1.25rem 1.25rem 0;
    position: relative;
    display: flex;
    justify-content: space-around;

    button, a {
        text-transform: uppercase;
        text-decoration: none;
    }

    &__link {
        padding: 0.5rem;
        &--active {
            border: 1px solid $active-item-border-color;
            background-color: $active-item-bg-color;
        }
    }

    @media only screen and (min-width: 1024px) {
        padding: 0 1rem;
    }
}