.blog {
  .swiper {
    padding: 50px 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    height: 12px;
    margin-top: 0;
    padding: 16px;
    top: auto;
    width: 18px;
    z-index: 11;
    &::after {
      font-family: inherit;
      font-size: 0;
    }
    &:focus,
    &:hover {
      background-color: rgba($secondary-color, 0.1);
      border-radius: 50px;
    }
  }

  .swiper-button-prev {
    background-image: url(../public/icons/nav-arrow-left.svg);
    left: 0px;
  }
  .swiper-button-next {
    background-image: url(../public/icons/nav-arrow-right.svg);
    right: 0px;
  }
  .swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background: $secondary-color;
    border-radius: 0;
    height: 4px;
    width: 26px;
  }
}
