html {
  font-family: $sans-serif-regular-font;
}

body {
  background-color: $primary-bg-color;
  color: $on-primary-text-color;
  line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  // Help prevent overflow of long words/names/URLs
  overflow-wrap: break-word;

  // Optional, not supported for all languages
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  // Clear top margin
  margin-top: 0;
}
h1,h2{
  font-family: $sans-serif-bold-font;
}
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-semi-bold-font;
}

a {
  color: $on-primary-link-text-color;
  text-decoration: underline;
  &:hover {
    color: $on-primary-link-hover-text-color;
  }
  & > * {
    vertical-align: middle;
  }
}

a,
button {
  &:focus {
    outline: yellow auto 2px;
    outline-offset: 0.25em;
  }
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus{
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

.only-mobile {
  display: block;
}
.only-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .only-mobile {
    display: none;
  }
  .only-desktop {
    display: block;
  }
}

.page-wrapper {
  max-width: $page-wrapper-max-size;
  margin: 0 auto;
}

@keyframes moveDown {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(1rem);
  }
}