

/******************************************/
//                 COLORS
/******************************************/
$white: #ffffff;
$indigo-dye: #00435c;
$sky-blue-crayola: #3ecfeb;
$rich-black-forga-29: #001922;
$light-cyan: #d8f6fb;
$buff: #f4db89;
$pewter-blue: #7FA0AD;

$primary-color: $indigo-dye;
$secondary-color: $sky-blue-crayola;
$white-color: $white;
$black-color: $rich-black-forga-29;
$additional-color: $light-cyan;
$accent-color: $buff;
$less-important-color: $pewter-blue;

/******************************************/
//                  FONTS
/******************************************/




@font-face {
  font-family: 'Metropolis Light';
  src: local('Metropolis Light'), local('Metropolis-Light'),
      url('../public/metropolis/Metropolis-Light.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis Regular';
  src: local('Metropolis Regular'), local('Metropolis-Regular'),
      url('../public/metropolis/Metropolis-Regular.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis Medium';
  src: local('Metropolis Medium'), local('Metropolis-Medium'),
      url('../public/metropolis/Metropolis-Medium.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis Semi Bold';
  src: local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
      url('../public/metropolis/Metropolis-SemiBold.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis Bold';
  src: local('Metropolis Bold'), local('Metropolis-Bold'),
      url('../public/metropolis/Metropolis-Bold.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis ExtraBold';
  src: local('Metropolis ExtraBold'), local('Metropolis-ExtraBold'),
      url('../public/metropolis/Metropolis-ExtraBold.woff2') format('woff2'),
      url('../public/metropolis/Metropolis-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$sans-serif-fonts:  Verdana, Arial, sans-serif;
$sans-serif-light-font: "Metropolis Light", $sans-serif-fonts;
$sans-serif-regular-font: "Metropolis Regular", $sans-serif-fonts;
$sans-serif-medium-font: "Metropolis Medium", $sans-serif-fonts;
$sans-serif-semi-bold-font: "Metropolis Semi Bold", $sans-serif-fonts;
$sans-serif-bold-font: "Metropolis Bold", $sans-serif-fonts;
$sans-serif-extra-bold-font: "Metropolis Extra Bold", $sans-serif-fonts;

/******************************************/
//                  LAYOUT
/******************************************/

$tablet-size: 768px;
$desktop-size: 992px;
$larger-desktop-size: 1200px;
$page-wrapper-max-size: 1100px;
